header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.logo-container {
    text-align: center;
    
}

#logo-principal {
    border-radius: 50%;
}

.subtitulo {
    color: #ff0562;
}

.descripcion-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    width: 50vw;
    padding: 1rem;
    background-color: #143447;
/*     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 */    border-radius: 1%;
   
    
}

.descripcion-aclaracion {
    font-style: italic;
}

.botonera {
    margin-top: 0.5rem;  
} 


.blinking {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0.45; 
  }
  25% {
    opacity: 0.38
  }
  50% {
    opacity: 0.30; 
  }
  75% {
    opacity: 0.38
  }
  100% {
    opacity: 0.45; 
  }
}

@media (max-width: 768px) {
    .descripcion-container {
        height: fit-content;
        width: 90vw;
        padding: 1rem;
        background-color: #143447;
        border-radius: 0.5%;
    }
}

