<main>
  <nav class="navbar" [class.mobile-active]="menuActive">
    <div class="logo-container-desktop">
      <a class="logo" routerLink="/">
        <div class="logo-with-pulse">
          <span class="logo-text">HUNTECH</span>
          <span class="status-pulse"></span>
        </div>
      </a>
    </div>

    <hr class="header-divider" />


    <div class="menu-toggle" (click)="toggleMenu()">
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>


    <ul class="nav-links" [class.active]="menuActive">
      <li>
        <a class="btn-halo btn-back" (click)="goBack()">
          <span class="material-icons-outlined">arrow_back</span>

        </a>
      </li>

      <li>
        <a class="btn-halo" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeMenu()">
          <span class="material-icons-outlined">home</span>
          home
        </a>
      </li>

      <li class="nav-item-with-dropdown" *ngIf="rolActual === 'desarrollador'">
        <a class="btn-halo" routerLink="/contratos" routerLinkActive="active" (click)="closeMenu()">
          <span class="material-icons-outlined">search</span>
          Buscar Empleo
        </a>

        <ul class="dropdown-menu">
          <li>
            <a (click)="navigateToFragment('sin-postular')" [class.active]="activeFragment === 'sin-postular'">
              <span class="material-icons-outlined">assignment_late</span>
              Sin postular
            </a>
          </li>
          <li>
            <a (click)="navigateToFragment('pendientes')" [class.active]="activeFragment === 'pendientes'">
              <span class="material-icons-outlined">history</span>
              Pendientes
            </a>
          </li>
          <li>
            <a (click)="navigateToFragment('asignados')" [class.active]="activeFragment === 'asignados'">
              <span class="material-icons-outlined">assignment_turned_in</span>
              Asignados
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item-with-dropdown" *ngIf="rolActual === 'gerente'">
        <a class="btn-halo" routerLink="/contratos" routerLinkActive="active" (click)="closeMenu()">
          <span class="material-icons-outlined">search</span>
          Ver mis contratos
        </a>

        <ul class="dropdown-menu" *ngIf="isOnContratos">
          <li>
            <a [routerLink]="['/contratos']" [fragment]="'sin-postular'" (click)="closeMenu()">
              Sin postular
            </a>
          </li>
          <li>
            <a [routerLink]="['/contratos']" [fragment]="'pendientes'" (click)="closeMenu()">
              Pendientes
            </a>
          </li>
          <li>
            <a [routerLink]="['/contratos']" [fragment]="'asignados'" (click)="closeMenu()">
              Asignados
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item" *ngIf="isgests">
        <a class="btn-halo" routerLink="/dashboard" routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }" (click)="closeMenu()">
          Admin Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a class="btn-halo" routerLink="/profile" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
          (click)="closeMenu()">
          Perfil
        </a>
      </li>

      <li>
        <a class="btn-sesion" (click)="logout()">
          <span class="material-icons-outlined">power_settings_new</span>

        </a>
      </li>
    </ul>

    <div class="navbar-subindex" *ngIf="isOnContratos">
      <a class="subindex-btn" (click)="navigateToFragment('sin-postular')"
        [class.active]="activeFragment === 'sin-postular'">
        Sin postular
      </a>
      <a class="subindex-btn" (click)="navigateToFragment('pendientes')"
        [class.active]="activeFragment === 'pendientes'">
        Pendientes
      </a>
      <a class="subindex-btn" (click)="navigateToFragment('asignados')" [class.active]="activeFragment === 'asignados'">
        Asignados
      </a>
    </div>
  </nav>
</main>