/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
} */

::selection {
    background: #7f5af0;
    color: white;
}

html {
    background: #16161a;
    color: white;
}

a {
    text-decoration: none;
}

a,
button,
select {
    color: white;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 400;
}

img {
    -webkit-user-drag: none;
}

::placeholder {
    color: rgb(209, 209, 209);
}

section {
    margin-top: 60px;
    padding-bottom: 80px;
}

/* ######## BOTONES */

button {
    font-family: inherit;
    font-size: 0.95rem;
    padding: 0.6em 1.2em;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: all 0.25s ease;
    color: #fff;
}

.btn {
    background-color: #2a2a2f;
    border: 1px solid #2a2a2f;
}

.btn:hover {
    background-color: #3a3a40;
}

.btn-add {
    background-color: #7f5af0;
}

.btn-add:hover {
    background-color: #9677f5;
}

.btn-edit {
    background-color: #444;
    border: 1px solid #7f5af0;
}

.btn-edit:hover {
    background-color: #555;
}

.btn-delete {
    background-color: transparent;
    border: 1px solid #ff0562;
    color: #ff0562;
}

.btn-delete:hover {
    background-color: #ff056220;
}

.btn-signup {
    background-color: #143447;
    border: 1px solid #2b6180;
    color: #fff;
}

.btn-signup:hover {
    background-color: #2b6180;
}


/* @media (min-width: 768px) {
    section {
        padding-bottom: 0;
        margin-left: 20%;
        width: 80%;
    }
} */
/*select del rol a elegir */
select {
    background-color: #2a2a2f;
    color: white;
    border: 1px solid #7f5af0;
    border-radius: 6px;
    padding: 0.6em 1em;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.25s ease;
    outline: none;
}

select:hover {
    background-color: #3a3a40;
}

    select:focus {
    border-color: #9677f5;
    box-shadow: 0 0 5px #7f5af0;
}

option {
    background-color: #2a2a2f;
    color: white;
}