.spinner-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

.logo-container {
    text-align: center;
    
}

#logo-principal {
    border-radius: 50%;
}

.subtitulo {
    color: #595656;
    font-size: 1.2rem;
}

.blinking {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 0.45; 
  }
  25% {
    opacity: 0.38
  }
  50% {
    opacity: 0.30; 
  }
  75% {
    opacity: 0.38
  }
  100% {
    opacity: 0.45; 
  }
}