header {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.logo-container {
    text-align: center;
}

#logo-principal {
    border-radius: 50%;
}

.titulo {
    font-size: 4rem;
}

.subtitulo {
    color: #ff0562;
}

.descripcion-container {
    height: fit-content;
    width: 50vw;
    padding: 1rem;
    background-color: #143447;
}

.main-descripcion {
/*     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 */    text-align: justify;
}

.botonera {
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    gap: 2rem;
}

.botonera button {
    width: 16vw;
    height: 16vh;
}

@media (max-width: 768px) {
    .descripcion-container {
        height: fit-content;
        width: 90vw;
        padding: 1rem;
        background-color: #143447;
        border-radius: 0.5%;
    }

    .botonera {
        padding: 1rem;
        display: flex;
        flex-direction: row;
        justify-items: center;
        width: 90vw;
        gap: 1rem;
    }

    .botonera button {
        width: 30vw;
        max-width: fit-content;
        height: 20vh;
        max-height: fit-content;
    }
}