.contrato-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contrato-card {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #f5eeee;
    color: rgb(2, 10, 59);
    padding: 2rem;
    border-radius: 12px;
    max-width: 70vw;
    margin: 2rem auto;
    text-align: left;
}

h2 {
    margin: 0.5rem;
    margin-bottom: -2rem;
    font-size: 2rem;
}

.contrato-box {
    font-size: 1.2rem;
    font-weight: 900;
    padding-top: 0.5rem;
    color: #090909;
}

.contrato-descripcion, .contrato-tipo, .contrato-sd, .contrato-ed {
    color: rgb(24, 3, 61);
    font-weight: 200;
}
.modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.modal {
  background: #fff;
  color:#090909;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 420px;
  text-align: center;
  z-index: 10000;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.btn-confirm {
  background-color: #166534;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.btn-cancel {
  background-color: #991b1b;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
}

.postulacion-btn {
  margin: 0.2rem;
  background: #e0e7ff;
  color: #1e3a8a;
  padding: 0.3rem 0.6rem;
  border-radius: 8px;
  cursor: pointer;
}

button {
    margin-top: 1rem
}


@media (max-width: 768px) {
    .contrato-card {
        max-width: 80vw;
    }
}