.contrato-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.contrato-card {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background-color: #f5eeee;
    color: rgb(2, 10, 59);
    padding: 2rem;
    border-radius: 12px;
    max-width: 70vw;
    margin: 2rem auto;
    text-align: left;
}

h2 {
    margin: 0.5rem;
    margin-bottom: -2rem;
    font-size: 2rem;
}

.contrato-box {
    font-size: 1.2rem;
    font-weight: 900;
    padding-top: 0.5rem;
    color: #090909;
}

.contrato-descripcion, .contrato-tipo, .contrato-sd, .contrato-ed {
    color: rgb(24, 3, 61);
    font-weight: 200;
}


@media (max-width: 768px) {
    .contrato-card {
        max-width: 80vw;
    }
}