/* body {
  background-color: #16161a;
  color: white;
  font-family: Arial, sans-serif;
} */

.contrato-card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
    justify-content: center;
    background-color: #16161a;
}

.contrato-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #143447;
    border-radius: 8px;
    width: 300px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s;
    color: white;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeSlideIn 0.6s ease-out forwards;
}

.contrato-card-titulo {
    color: #ff0562;
    margin-bottom: 0.5rem;
}


.contrato-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 24px rgba(117, 114, 114, 0.4);
}

/* por ahora sin uso .contrato-card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
} */

.contrato-card-content {

    padding: 1rem;
}

.contrato-card-content h2 {
    margin-top: 0;
    font-size: 1.4rem;
}

.contrato-card-content p {
    margin: 0.5rem 0 0;
}

.card-button-group {
    height: 3rem;
    margin-left: 1rem;
}

.card-button-group button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    font-size: large;
    font-weight: bold;
}

a {
    text-decoration: none;
}

@media (max-width: 768px) {

    .contrato-card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
        padding: 1rem;
        justify-content: center;
        background-color: #16161a;
    }

    .contrato-card {
        background-color: #143447;
        border-radius: 8px;
        width: 90vw;
        overflow: hidden;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s;
        color: white;
    }

}

@keyframes fadeSlideIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}