<div #detailContainer class="contrato-detail-container">
  @if (this.mostrandoContratoDetail) {
  <app-contrato-detail [contrato]="this.contratoAMostrarDetail!" [email]="this.usuario.email" [rol]="this.usuario.rol"/>
  }
</div>

<div class="contrato-card-container">



  @for (card of contratosCards; track card.id) {
  <!-- muestra contratos, solo si el puesto no está cubierto -->
  @if (!card.esta_ocupado) {
  <div class="contrato-card">
    <div class="contrato-card-content">
      <h2 class="contrato-card-titulo"> > {{ card.titulo }}</h2>
      <p>{{ card.descripcion }}</p>
      @if (card.start_date) {
      <p>Fecha de inicio del contrato: {{ card.start_date }}</p>
      }
      @if (card.end_date) {
      <p>Fecha de finalización del contrato: {{ card.end_date }}</p>
      }
    </div>
    <div class="card-button-group">
      <button class="btn btn-signup" (click)="this.setContratoAMostrar(card)">+</button>
    </div>
  </div>
  }
  }
  @empty {
  <div>Lo sentimos =( <br>
    Parece que no hay contratos disponibles para el criterio elegido.</div>
  }
</div>